source/views/login.jade
block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    .login-wrap
        .container
            a(href="#").close_menu
                i.ico.close
            .head-menu
                a(href="index.html")
                    img(src="uploads/logo@2x.png", alt="demo")
            // END
            .home-caption
                h2.cap-ttl Bienvenue chez vous !
                .txt Connectez-vous à votre compte et bénéficiez de vos avantages
            // END : CAPTION
            include blocks/login/form
            // END : FORM
    // END: LOGIN FORM

public/login.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>GUY HOQUET - L'IMMOBILIER GARANTI</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900&amp;display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,900&amp;display=swap" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="undefined loading-blocked"> 
    <div class="menu-popup">
      <div class="container"><a href="#" class="close_menu"><i class="ico close"></i></a>
        <div class="head-menu"><a href="index.html"><img src="uploads/logo@2x.png" alt="demo"></a></div>
        <!-- END-->
        <ul class="menu-list">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">VENDRE</a></li>
          <li><a href="#">LOUER</a></li>
          <li><a href="#">INVESTIR</a></li>
          <li><a href="#">FAIRE GERER</a></li>
          <li><a href="#">TROUVER UNE AGENCE</a></li>
          <li><a href="#">ACTUALITéS</a></li>
          <li><a href="#">L’immobilier</a></li>
          <li><a href="#">LE GROUPE</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
        <!-- END-->
        <div class="menu-profile"><a href="#" class="link_profile login"><img src="uploads/ava_b@2x.png" alt="demo" class="avt">
            <div class="name">Mon</div></a>
          <!-- END-->
          <ul class="profile-menu">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">MES ALERTES</a></li>
            <li><a href="#">MES FAVORIS</a></li>
            <li><a href="#">MES AGENCES</a></li>
            <li><a href="#">MES INFORMATIONS</a></li>
            <li><a href="#">DECONNEXION</a></li>
          </ul>
        </div>
        <!-- END-->
      </div>
    </div>
    <!-- END : MENU POP-UP-->
    <div class="search-voice-wrap">
      <div class="container"><a href="#" class="close_voide"><i class="ico arr_left"></i></a>
        <div class="inner">
          <h2 class="voice-ttl">Dictez votre recherche…</h2>
          <textarea class="txt-voice">Je recherche un appartement de 100m2 à acheter sur Lyon …</textarea>
          <div class="voice-wrap"><a href="#" class="link_voice"><i class="ico micro_lrg"></i></a></div>
          <!-- END : VOICE-->
        </div>
      </div>
    </div>
    <!-- END : SEARCH VOICE-->
    <section class="main"> 
      <div class="login-wrap">
        <div class="container"><a href="#" class="close_menu"><i class="ico close"></i></a>
          <div class="head-menu"><a href="index.html"><img src="uploads/logo@2x.png" alt="demo"></a></div>
          <!-- END-->
          <div class="home-caption">
            <h2 class="cap-ttl">Bienvenue chez vous !</h2>
            <div class="txt">Connectez-vous à votre compte et bénéficiez de vos avantages</div>
          </div>
          <!-- END : CAPTION-->
          <div class="login-form">
            <form>
              <div class="form-group">
                <input type="email" placeholder="Adresse e-mail" class="ipt">
              </div>
              <!-- END-->
              <div class="form-group group-password">
                <div class="inner">
                  <input type="password" value="12345678" class="ipt"><a href="#" class="link_pass"><i class="ico eye"></i></a>
                </div>
                <div class="text-right"><a href="#" class="forgot">Mot de  passe oublié</a></div>
              </div>
              <!-- END-->
              <div class="form-group group-connect">
                <button type="button" class="btn btn-blue">CONNEXION</button>
              </div>
              <!-- END-->
              <div class="form-group text-center"><a href="compte.html" class="register">Créer un compte</a></div>
              <!-- END-->
            </form>
            <!-- END-->
            <div class="group-button-social">   
              <div class="form-group"><a href="#" class="link_facebook">  <i class="fa fa-facebook"></i>Connexion avec Facebook</a></div>
              <!-- END-->
              <div class="form-group"><a href="#" class="link_google"> <i class="fa fa-google"></i>Connexion avec Google</a></div>
              <!-- END-->
            </div>
            <!-- END-->
          </div>
          <!-- END : FORM-->
        </div>
      </div>
      <!-- END: LOGIN FORM-->
    </section>
    <!-- MAIN CONTENT-->
    <div class="block-loading-page">
      <div class="loading-logo"><img src="uploads/logo@2x.png" alt="demo"></div>
      <!-- END : LOGO-->
      <div class="loading-txt">Chargement…</div>
    </div>
    <!-- END : LOADING-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGijIOZsf2wzMI0H6EqD3iB9hh6TnLlQ&amp;amp;sensor=false&amp;amp;ver=4.7.13"></script>
    <script src="js/start.js"></script>
  </body>
</html>
